.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.my-uploader {
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 10px;
  width: 600;
  color: black;
  padding: 20px;
}

.processed-image {
  max-width: 80%;
  max-height: 80vh;
  margin: 10px auto;
}

.content-center {
  width: 100%;
  text-align: center;
}

textarea {
  width: 80%;
  margin: 20px;
}

pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}